services:
  viewer:
    build: ./viewer
    ports:
      - "8080:80"
    volumes:
      - ./projet/univers:/usr/share/nginx/html/univers
  generator:
    image: magik-swipe
    volumes:
      - ./projet/univers:/app/univers
    environment:
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      - TEST_MODE=${TEST_MODE:-false}
    command: sh -c "if [ \"$TEST_MODE\" = \"true\" ]; then python main.py --theme jungle --words-only; else python main.py --theme jungle; fi"