name: Commitlint
on:
  pull_request:
    branches: [master]

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Validate conventional commits
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.json
